
  
  .demo-table {   
      min-width: auto !important;
      width: 100% !important;     
  }
  
  .mat-header-row {
      width: 100%;
      display :none;     
      
  }
  
  .mat-row {
      width: 100%;
  }  
  
  
  .mat-column-1{
    border: 1px solid currentColor;
    flex: 1 0 25% !important; 
    min-width: 30px !important;  
    text-align: center !important; 
    display: flex !important;
    justify-content: center !important;
  }  
  
  .mat-column-2{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-3{    
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-4{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    text-align: center;    
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-5{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 35px !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-6{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    display: flex !important;
    justify-content: center !important;
  } 
  
  .mat-column-7{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-8{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-9{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-column-10{
    border: 1px solid currentColor;
    flex: 1 0 25% !important;
    min-width: 30px !important;
    display: flex !important;
    justify-content: center !important;
  } 

  .mat-cell {    text-align: center;    }
